/* Variables */
@crimson: #ce3535;
@lake: #5996bb;
@moss: #3AA746;

@size-sm: ~"screen and (min-width: 35.5em)";
@size-md: ~"screen and (min-width: 42em)";
@size-lg: ~"screen and (min-width: 64em)";
@size-xl: ~"screen and (min-width: 80em)";