/* Variables */
@crimson: #f15757;
@lake: #5996bb;
@moss: #38b778;

@size-sm: ~"screen and (min-width: 36rem)";
@size-md: ~"screen and (min-width: 46rem)";
@size-lg: ~"screen and (min-width: 64rem)";
@size-xl: ~"screen and (min-width: 80rem)";