/* Variables */
@crimson: #f15757;
@lake: #5996bb;
@moss: #38b778;

@size-sm: ~"screen and (min-width: 36rem)";
@size-md: ~"screen and (min-width: 46rem)";
@size-lg: ~"screen and (min-width: 64rem)";
@size-xl: ~"screen and (min-width: 80rem)";

@portrait-lt-sm:  ~"screen and (orientation:portrait) and (max-width: 36rem)";
@landscape-lt-sm: ~"screen and (orientation:landscape) and (max-width: 36rem)";

@portrait-lt-md:  ~"screen and (orientation:portrait) and (max-width: 46rem)";
@landscape-lt-md: ~"screen and (orientation:landscape) and (max-width: 46rem)";
