@import '../variables.less';

/* Contact Component */

.contact{
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: 1;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	text-decoration: none;
	font-size: 1.2rem;
	color: #000;

	padding: 0 2rem;

	transition: background 300ms ease;

	&:after{
		content: '';

		width: 0%;

		position: absolute;
		bottom: 0;
		right: 0;

		border-bottom: 1px solid rgba(0,0,0,0.3);
		transition: width 400ms ease, border 200ms ease;
	}

	&:hover{
		background-color: #fff;

		&:after{
			width: 100%;
			border-width: 4px;
		}
	}

	svg{
		flex-shrink: 0;

		margin-right: 2rem;

		width: 2rem;
		height: 2rem;
	}
}
@media @size-md{
	.contact{
		width: 100%;
	}
}

// Change the color of the hover underline based on the selected skill
.sidebar{
	&.crimson{
		.contact:after{
			border-color: @crimson;
		}
	}
	&.moss{
		.contact:after{
			border-color: @moss;
		}
	}
	&.lake{
		.contact:after{
			border-color: @lake;
		}
	}
}
