@import '../variables.less';

/* Contact Component */

.contact{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: 1;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	text-decoration: none;
	font-size: 1.2rem;
	color: #000;

	padding: 0 2rem;

	transition: background 300ms ease;

	&:hover{
		background-color: #fff;
	}

	svg{
		flex-shrink: 0;

		margin-right: 2rem;

		width: 2rem;
		height: 2rem;
	}
}

@media @size-md{
	.contact{
		width: 100%;
	}
}
