@import '../variables.less';

/* Logo Component */

.logo-container{
	height: 100%;

	transform: translateX(-50%);
	transition: flex 400ms ease, transform 400ms ease, height 300ms ease;

	svg{
		display: block;

		height: 100%;

		margin: 0 auto;
		fill: #000;

		transform: translateX(50%);
		transition: transform 400ms ease;
	}
}
@media @size-md{
	.logo-container {
		width: 80%;
		margin: 0 auto;
		transform: none;

		svg{
			width: 100%;
			transform: none;
		}
	}
}

.active{
	.logo-container{
		transform: translateX(0);
	}
	.logo-container svg{
		transform: translateX(0);
	}
}

