@import '../variables.less';

/* Skill Component */

// Wonderful hotfix for safari...
.active{
	.skill{
		flex: 0 1 0px;
	}
}

.skill{
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	flex: 1 1 0px;
	overflow: hidden;

	cursor: pointer;
	padding: 0 2rem;
	background-color: @crimson;

	transition: flex 300ms ease;

	&.active{
		flex: 1 0 100%;
		cursor: initial;
	}

	&.crimson{
		background-color: @crimson;

		&:hover{
		}
	}
	&.moss{
		background-color: @moss;

		&:hover{
		}
	}
	&.lake{
		background-color: @lake;

		&:hover{
		}
	}

	.skill-close{
		cursor: pointer;

		margin-left: auto;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 3rem;
		height: 3rem;

		background-color: #fff;
		border-radius: 100%;

		.icon.icon-cross{
			transition: transform 300ms ease;
			transform: rotate(-45deg);
		}

		box-shadow: 0 3px 6px rgba(0,0,0,0.3);
		transition: box-shadow 300ms ease;

		&:hover{
			box-shadow: 0 4px 12px rgba(0,0,0,0.4);
		}
	}
	&.active{
		.skill-close{
			.icon.icon-cross{
				transform: rotate(0);
			}
		}
	}

	.heading{
		display: flex;
		align-items: center;

		&:hover{
		}
	}

	p{
		max-width: 56rem;
	}

	.skill-icon{
		width: 4rem;
		height: 4rem;

		border-radius: 100%;
		border: 0.2rem solid #000;
		background-color: #fff;

		svg{
			width: 3.6rem;
			height: 3.6rem;
			padding: 1rem;
		}
	}

	h2{
		margin: 1.4rem 1rem;
		border-bottom: 2px solid #000;
		transition: min-width 200ms ease;

		&:hover{
		}
	}
	&.active{
		&:hover{
		}
	}

	.skill-body{
		overflow: hidden;
		max-height: 0;
		
		opacity: 0;
		transform: translateY(-3rem);
		transition: max-height 300ms ease, transform 200ms ease, opacity 300ms ease;

		p{
			line-height: 1.6rem;
		}
	}
	&.active{
		.skill-body{
			max-height: 100%;
			opacity: 1;
			transform: translateY(0);
		}
	}

	ul{
		margin: 0;
		padding: 0;

		cursor: initial;
		list-style: none;
		font-family: consolas, courier, monospace;

		li{
			display: inline-block;

			margin: 0.4rem;
			padding: 0.2rem 0.6rem;

			background-color: #fff;
			border-radius: 4px;
		}
	}
	&.active{
		ul{
			margin-top: 1rem;
			padding-top: 1rem;

			border-top: 1px solid #fff;
		}
	}
}
